body {
    background-color: #2f3640;
}

.box-body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: #40739e;
    justify-content: center;
    border-radius: 18px;
}

.box .inputing {
    margin-top: 30px;
}

#setbtn {
    padding: 6px 7px;
    border-radius: 9px;
    border: none;
    font-weight: 700;
}

#input {
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

.inputing #list {
    border-radius: 6px;
    margin-top: 10px;
    text-align: center;
    color: white;
}
